section{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
}

.bto{
  background-color: #355c7d;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0;
  padding: 1em 0;
  padding-top: 10px;
}

.bto:hover{
  background-color: #fff;
  color: #355c7d;
  transition: 0.3s;
}

.center1{
padding: 15%;
color: #fff;
}

.center1 h2 {
  font-size: 100px;
  font-weight: 100;
  padding: 20px;
}

.center1 h1{
  padding: 10px;
}

.center2{
padding: 5%;
color: #355c7d;
}

.center2 h1{
  font-size: 40px;
}

.center2 h2{
  font-size: 40px;
  color: #fff;
}

hr{
  width: 50%;
  border-width: 3px;
  border-style: solid;
}

#hrp{
  color: #fff;
}

.app {
    float: left;
  	width: 50%;
}

.appt{
  padding: 10%;
  float: left;
  width: 33.33%;
}

.appt h1{
  font-size: 80px;
}

.appt h3{
  font-size: 30px;
}

.appt img{
  width: 300px;
}

.app h1{
  margin: 20%;
  font-size: 100px;
}

.img1 {
  margin-top: 10px;
  height: 900px;
}


section:nth-child(2){
  background-image: url(../resources/images/portada.jpg);
  background-size: cover;
}

section:nth-child(3){
  background: #f4f4f4;
}

section:nth-child(4){
  height: 1000px;
  background-image: url(../resources/images/div.jpg);
  background-size: cover;
}
section:nth-child(5){
background-color: #fff;
}

@media screen and (max-width:1024px) {
  .app h1{
     font-size: 35px;
    }

    .appt{
      padding-top: 30%;
    }

    .appt h1{
      font-size: 40px;
    }

    .appt h3{
      font-size: 25px;
    }

    .appt img{
      width: 130px;
    }
    .img1{
      height: 200px;
      display: block;
      margin: auto;
    }

    .center1 h2 {
      font-size: 80px;
      font-weight: 100;
      padding: 20px;
    }


    .center2 h2 {
    font-size: 35px;
    padding-bottom: 2px;
    }

    hr {
      width: 75%;
      border-width: 1.5px;
    }

}

@media screen and (max-width:768px) {

  .app{
  float: inherit;
  width: inherit;
  }

  .app h1{
   font-size: 35px;
  }

  .img1{
    height: 200px;
    display: block;
    margin: auto;
  }

  .center1 h2 {
    font-size: 50px;
    font-weight: 100;
    padding: 20px;
  }

  .center2 h1 {
    font-size: 20px;
    padding-bottom: 2px;
  }

  .center2 h2 {
  font-size: 20px;
  padding-bottom: 2px;
  }

  hr {
    width: 75%;
    border-width: 1.5px;
  }

  .appt{
    padding: 10%;
    float: inherit;
    width: inherit;
  }

  .appt h1{
    font-size: 40px;
  }

  .appt h3{
    font-size: 20px;
  }

  .appt img{
    width: 130px;
  }
